/* CarouselWithSearch.css */

.carousel {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.carousel-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
   
    color: white;
    text-align: center;
}

.carousel-text {
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search-bar {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50px;
    padding: 5px 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.search-bar input[type="text"] {
    border: none;
    outline: none;
    padding: 8px 10px;
    border-radius: 50px 0 0 50px;
    width: 100%;
}

.search-bar button {
    background-color: #1f6db1;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 0 50px 50px 0;
    cursor: pointer;
    font-weight: bold;
}

.search-bar button:hover {
    background-color: #0a65b7;
}
