.hotel-details-container {
    position: fixed;
    top: 0;
    right: -100%;
    width: 400px;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease;
    padding: 20px;
    z-index: 1000;
    overflow-y: scroll;
}

.hotel-details-container.active {
    right: 0;
}

#close-details {
    padding: 10px;
    background-color: white;
    color: red;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    margin-bottom: 20px;
}

.rating {
    font-size: 18px;
    color: #fff;
    background-color: #0071c2;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.reviews {
    font-size: 14px;
    color: #333;
    margin-top: 5px;
}

.hotel-item {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}

.hotel-item img {
    border-radius: 8px;
}
