.property-section {
    text-align: center;
    padding: 40px 1.5rem;
    max-width: 1200px;
    margin: 0 auto;
}

.property-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}


.property-item {
    position: relative;
    width: 250px;
    cursor: pointer;
    overflow: hidden;
}

.property-item img {
    width: 100%;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.property-item:hover img {
    transform: scale(1.05);
}

.property-text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
}

.section-title {
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    color: rgb(64, 60, 60);
   
}

.section-description {
    margin-bottom: 30px;
    text-align: center;
    color: rgb(64, 60, 60);
}
