/* src/App.css */

body {
  font-family: Arial, sans-serif;
}

/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensures that padding and borders don't cause overflow */
}

html,
body {
  width: 100%;
  overflow-x: hidden; /* Prevents horizontal overflow */
}

body {
  height: 100%;
}

/* HERO SECTION */
.image-container {
  position: relative;
  /* background-image: url('/images/h 1.jpg');  old line – ab inline style se aaye ga */
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 105.5%;
  margin-left: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-text {
  position: absolute;
  top: 20%;
  width: 70%;
  color: white;
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  margin-right: 20px;
}

/* SEARCH BAR ON HERO */
.search-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.search-bar-wrapper {
  display: flex;
  border: 2px solid orange;
  border-radius: 10px;
  background-color: white;
  width: 1300px;
}

.input-wrapper {
  display: flex;
  align-items: center;
  padding: 10px;
  border-right: 1px solid grey;
  width: 500px;
}

.input-wrapper:last-child {
  border-right: none;
}

input {
  border: none;
  outline: none;
  font-size: 16px;
  width: 270px;
  padding: 10px;
}

#search-button {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
}

.guest-dropdown-menu {
  position: absolute;
  background-color: white;
  padding: 20px;
  margin-top: 60px;
  margin-left: 695px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.guest-dropdown-menu label {
  display: block;
  margin-bottom: 10px;
}
